.hero {
  background-color: var(--dark-color);
}
h1 {
  color: var(--white-color);
  font-family: "Roboto";

  font-weight: 700;
  font-size: 56px;
  line-height: 1.26;

  text-align: center;
  letter-spacing: 0.02em;
}
.text-contact {
  color: var(--body-text);
  /* font-size: 16px; */

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.active:hover,
.active:focus {
  color: var(--pressed-color);
}
.headers {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;

  line-height: 1.2;
}
.back-color {
  background-color: var(--back-color-section);
}
.btn:hover,
.btn:focus {
  background-color: var(--pressed-color);
  color: var(--white-color);
}
.btn {
  color: var(--primary-color);
  background-color: var(--back-color-button);
  border: none;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: inherit;
}
.btn-order {
  color: var(--white-color);
  background-color: var(--primary-color);
}
.btn-order:hover,
.btn-order:focus {
  background-color: var(--pressed-color);
}

footer {
  background-color: var(--dark-color);
}
footer > .footer-color {
  color: var(--white-color);
}
.color-white {
  color: var(--white-color);
}
